@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.fa-solid {
    color: #fff;
    font-size: 20px;
}

.row {
    --mdb-gutter-x: 0;
}

.footer {
    text-align: center;
    padding: 20px 0;
    flex-shrink: 0;

}

.menu-bg {
    background: #0014CE;
    background: -moz-linear-gradient(top, #0014CE 0%, #3303A4 50%, #7001C5 100%);
    background: -webkit-linear-gradient(top, #0014CE 0%, #3303A4 50%, #7001C5 100%);
    background: linear-gradient(to bottom, #0014CE 0%, #3303A4 50%, #7001C5 100%);
    color: #fff !important;
}

.component-title {
    border: 1px groove #17a2b8;
    border-radius: 5px;
}

.modal {
    background-color: #1a1a19e6;
}

.cart {
    border: 1px groove #fff;
    border-radius: 20px;
    background-color: #28b700;
    padding: 0px 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.cart-icon {
    text-decoration: none;
    color: #fff;
    font-size: 50px !important;
}

    .cart-icon :hover {
        text-decoration: none;
        color: #fff;
    }

.product-card {
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    background-color: #ededed;
    -webkit-box-shadow: 0px 0px 10px 5px #878787;
    box-shadow: 0px 0px 10px 5px #878787;
}

/*New card style*/
.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .card:hover {
        width: 350px;
        transition-delay: 0s;
    }

    .card .card-circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .card .card-circle::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--clr);
            clip-path: circle(120px at center);
            transition: 0.5s;
        }

    .card:hover .card-circle::before {
        clip-path: circle(400px at center);
    }

    .card .card-circle .img-preview {
        position: relative;
        width: 240px;
        height: 240px;
        transition: 0.5s;
        transition-delay: 0.5s;
    }

    .card:hover .card-circle .img-preview {
        transform: scale(0);
        transition-delay: 0s;
    }

.card-content {
    position: relative;
    width: 95%;
    left: 10%;
    padding: 20px 20px 20px 10px;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .card-content {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.card-content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
}

.card-content p {
    color: #fff;
}

.card-content a {
    text-decoration: none;
    cursor: pointer;
}

.card .img-desc {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 150px;
    transition: 0.5s;
    transition-delay: 0s;
}

.card:hover .img-desc {
    left: 72%;
    transform: translate(-50%, -50%) scale(1);
    transition-delay: 0.5s;
}

/* New details card style */
.h3-details {
    font-size: 0.7em;
    letter-spacing: 1.2px;
}

.img-details {
    max-width: 85%;
    filter: drop-shadow(1px 1px 3px $color-secondary);
    left: -2.5em;
    border-radius: 5px;
}

/* ----- Product Section ----- */
.product-details {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: auto;
    padding: 2.5em 0;
    min-width: 800px;
    background-color: #5102b4;
    border-radius: 5px;
}

/* ----- Photo Section ----- */
.product-details-photo {
    position: relative;
}

.photo-container {
    position: absolute;
    left: -2.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

/* ----- Informations Section ----- */
.details-container {
    display: grid;
    grid-template-rows: 1fr;
    margin: 30px 0;
    color: white;
    max-width: 60%;
    margin: 0 auto;
}

.product-header-name {
    margin-bottom: 0.1em;
    font-size: 1.5em;
    font-weight: 900;
}

.product-info {
    padding: 0.8em 0;
    margin-right: 20px;
}

.span-details {
    font-size: 0.7em;
}

.price-details {
    margin: 1.5em 0;
    font-size: 1.2em;
}

    .price-details .span {
        padding-left: 0.15em;
        font-size: 2.9em;
    }

.description-details {
    clear: left;
    margin: 2em 0;
    padding-right: 25px;
}
/* ------------------ */