@page "/"

@inject ProductService _db

<div class="general-container">
    @if (products is null)
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://cdn.dribbble.com/users/108183/screenshots/5331825/loading_xxi.gif" height="200" />
            </div>
        </div>
    }
    else if (products.Any())
    {
        <div class="row">
            @foreach (var item in products)
            {
                <div class="col-sm-12 col-md-3 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-circle" style="--clr: #4b03b1">
                            <img src="@item.Image.ImageToDisplayConverter()" class="img-fluid rounded-circle img-preview" />
                        </div>
                        <div class="card-content">
                            <a href="/details/@item.Id"><h2>@item.Name</h2></a>
                            <hr style="color: white" />
                            <p><i class="fa-solid fa-money-bill-wave"></i> Price:  @string.Format("{0:C}", item.Price)</p>
                            <a class="btn btn-success" href="/details/@item.Id"><i class="fa-solid fa-circle-question"></i> Details</a>
                        </div>
                        <img src="@item.Image.ImageToDisplayConverter()" class="img-desc" />
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://cdn.dribbble.com/users/1231865/screenshots/11157048/media/bc9427646c632ded563ee076fdc5dfda.jpg?compress=1&resize=800x600" height="200" />
            </div>
        </div>
    }
</div>

@code {
    List<Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = await _db.GetAllProductsAsync();
    }
} 