@page "/"
@inject ProductService _db

<div class="row py-4 mb-4 mx-2 border rounded product-card">
    @if (products is null)
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://cdn.dribbble.com/users/108183/screenshots/5331825/loading_xxi.gif" height="200" />
            </div>
        </div>
    }
    else if (products.Any())
    {
        <div class="row justify-content-center">
            
                @foreach (var item in products)
                {
            <div class="col-sm-12 col-md-6 col-lg-3 product-card m-2 p-0">

                <div>
                    <img src="@item.Image.ImageToDisplayConverter()" class="img-fluid rounded" style="width: 320px; height: 480px;"/>
                </div>
                <div class="image-card-footer text-center">
                    <p class="font-weight-bold">@item.Name</p>
                    <p>@string.Format("{0:C}", item.Price)</p>
                    <div class="mb-3 px-5">
                        <a class="btn btn-outline-primary form-control" href="/details/@item.Id">Details</a>
                    </div>
                </div>

            </div>
                }
            </div>
        
    }
    else
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://cdn.dribbble.com/users/1231865/screenshots/11157048/media/bc9427646c632ded563ee076fdc5dfda.jpg?compress=1&resize=800x600" height="200" />
            </div>
        </div>
    }

</div>

@code {
    List<Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = await _db.GetAllProductsAsync();
    }
} 