@typeparam TValue

@if (showPopUp)
{
	<div class="modal fade show" tabindex="-1" style="display: block" role="dialog">
		<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="text-info">Products Info</h3>
					<button type="button" class="close" @onclick="ShowCloseModal" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col">
							@Header
						</div>
					</div>
					<div class="¨row">
						<div class="col">
							@foreach (var item in Items)
							{
								@ChildContent(item)
							}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" @onclick="ShowCloseModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
}

@code {
	[Parameter] public RenderFragment<TValue> ChildContent { get; set; }
	[Parameter] public RenderFragment Header { get; set; }
	[Parameter] public IReadOnlyList<TValue> Items { get; set; }

	bool showPopUp = false;

	public void ShowCloseModal() => showPopUp = !showPopUp;
}
